{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
 <table class="table">
   <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>

    </tr>
   </thead>
   <tbody>
    {% for row in database %}

           <tr>

               <td>{{ row["symbol"] }}</td>
               <td>{{ row["shares"] }}</td>
               <fd>{{ row["price"] }}</fd>
           </tr>
    {% endfor %}
   </tbody>
 </table>


{% endblock %}